img {
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.album-list__content {
    padding: 10px;
    background-color: rgb(6, 61, 61);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 0px 11px 1px rgb(0 0 0 / 26%);
}

.card-img-top {
    height: 235px !important;
}

section {
    padding: 50px;
}